*
  margin 0
  padding 0


body
  font-family sans-serif
  background #eee
  color #555
  font-size 24px
  margin 50px

ul
  list-style none

.legend
  color #bbb
  margin-right 20px

.value
  font-family monospace

.vec
  margin 30px 0